<div class="modal fade in" id="KYKLO-Landing-page" tabindex="-1" role="dialog" aria-labelledby="kyklo-landing-popup" aria-hidden="true">
    <div role="document" class="kyklo-landingpage-popup">
        <div class="modal-content">
            <div>
                <div style="padding: 10px 10px 0 10px;">
                    <a href="/cart/edit">
                        <button type="button" data-dismiss="modal" aria-label="Close" class="close" style="float: right;font-size: 1.5rem;float: right;width: 15px;height: 15px;opacity: 1;outline: none;margin-right: -5px;">
                        <span aria-hidden="true">×</span>
                        </button>
                    </a>
                </div>
                <div style="padding: 30px;text-align: center;">
                    <h5>All orders must meet $25 minimum order requirement</h5>
                </div>
            </div>
        </div>
    </div>
</div>