<div class="rp-container container" style="overflow-x: hidden;">
  <style type="text/css">
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {}

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {}

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {}

    .mitsubishi-header {
      padding: 0px;
      border-bottom: 3px #e60012 solid;
      margin: 40px 0px 20px 0px;
    }

    .mitsubishi-header h2 {
      border-left: 7px #e60012 solid;
      padding: 0px 10px;
      margin-bottom: 5px;
    }

    .section-margin {
      height: 20px;
      display: block;
    }

    .mitsubishi-news {
      border-bottom: 1px solid #bdbdbd;
      margin-bottom: 10px;
    }

    .group-title {
      padding-left: 15px;
    }
  </style>
  <div class="section-margin"></div>
  <div class="section-margin"></div>
  <style type="text/css">
    .carousel-control>i {
      position: relative;
      top: 50%;
      margin-top: -10px;
    }

    .carousel-control {
      width: 7%;
    }
  </style>
  <div class="carousel slide m-t-2" data-interval="5000" data-ride="carousel" id="mini-carousel-mitsubishi">
    <ol class="carousel-indicators" style="bottom: 0;">
      <li class="active" data-slide-to="0" data-target="#mini-carousel-mitsubishi"></li>
      <li data-slide-to="1" data-target="#mini-carousel-mitsubishi"></li>
      <li data-slide-to="2" data-target="#mini-carousel-mitsubishi"></li>
      <li data-slide-to="3" data-target="#mini-carousel-mitsubishi"></li>
    </ol>
    <div class="carousel-inner" align="center" style="margin: 0 auto; width:78%!important;">
      <div class="carousel-item active">
        <img class="carousel-image" src="https://d1qmdf3vop2l07.cloudfront.net/direct-mandolin.cloudvent.net/hash-store/b7dcba1cbb74a92d2e805ea2453869ca.jpg" data-cms-original-src="/uploads/mitsubishi-banner-1.jpg" />
        <a class="left carousel-control" data-slide="prev" href="#mini-carousel-mitsubishi">
          <i class="fa fa-angle-left fa-2x">
          </i>
        </a>
        <a class="right carousel-control" data-slide="next" href="#mini-carousel-mitsubishi">
          <i class="fa fa-angle-right fa-2x">
          </i>
        </a>
      </div>
      <div class="carousel-item">
        <img class="carousel-image" src="https://d1qmdf3vop2l07.cloudfront.net/direct-mandolin.cloudvent.net/hash-store/977ea02fed05c28d8481a0a37f9816a1.jpg" data-cms-original-src="/uploads/mitsubishi-banner-2.jpg" />
        <a class="left carousel-control" data-slide="prev" href="#mini-carousel-mitsubishi">
          <i class="fa fa-angle-left fa-2x">
          </i>
        </a>
        <a class="right carousel-control" data-slide="next" href="#mini-carousel-mitsubishi">
          <i class="fa fa-angle-right fa-2x">
          </i>
        </a>
      </div>
      <div class="carousel-item">
        <img class="carousel-image" src="https://d1qmdf3vop2l07.cloudfront.net/direct-mandolin.cloudvent.net/hash-store/6f5a313eb7bc1ce0ca68270e87762762.jpg" data-cms-original-src="/uploads/mitsubishi-banner-3.jpg" />
        <a class="left carousel-control" data-slide="prev" href="#mini-carousel-mitsubishi">
          <i class="fa fa-angle-left fa-2x">
          </i>
        </a>
        <a class="right carousel-control" data-slide="next" href="#mini-carousel-mitsubishi">
          <i class="fa fa-angle-right fa-2x">
          </i>
        </a>
      </div>
      <div class="carousel-item">
        <img class="carousel-image" src="https://d1qmdf3vop2l07.cloudfront.net/direct-mandolin.cloudvent.net/hash-store/d07298879c656d973242655d9c86a90c.jpg" data-cms-original-src="/uploads/mitsubishi-banner-4.jpg" />
        <a class="left carousel-control" data-slide="prev" href="#mini-carousel-mitsubishi">
          <i class="fa fa-angle-left fa-2x">
          </i>
        </a>
        <a class="right carousel-control" data-slide="next" href="#mini-carousel-mitsubishi">
          <i class="fa fa-angle-right fa-2x">
          </i>
        </a>
      </div>
    </div>
  </div>
  <style type="text/css">
    .mitsu-box .col-md-2,
    .mitsu-box .col-md-3 {
      padding: 10px;
    }

    .mitsu-box a {
      display: block;
    }

    .mitsu-box img {
      display: block;
      margin: 0 auto;
    }

    .mitsu-box p {
      padding: 3px 0;
      text-align: center;
    }
  </style>

  <div class="mitsubishi-header">
    <h2>Configurators</h2></div>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12" style="padding-top: 10px;">
      <a class="btn rp-index-btn-white-bordered shadow" style="width: 100%; text-align: left; vertical-align: middle;" href="#plc">
        <div class="mitsu-box col-md-4 col-sm-6 col-xs-6">
          <img style="max-width: 100%; max-height: 100px;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjAvMDIvMDQvMTQvMzkvNTkvOGFhMTVmNjItMmUyMy00NThhLWI0NjQtZWY0ZjVlYjEwYTViL3IxMjBlbmNwdS5qcGciXSxbInAiLCJ0aHVtYiIsIjQwMHg0MDBcdTAwM2UiXV0?sha=5d00ba73ed81e6a3"/>
        </div>
        <div style="padding-left:0px;" class="col-md-8 col-sm-6 col-xs-6"><strong>1. Programmable Logic <br />Controllers (PLCs)</strong></div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12" style="padding-top: 10px;">
      <a class="btn rp-index-btn-white-bordered shadow" style="width: 100%; text-align: left; vertical-align: middle;" href="#got">
        <div class="mitsu-box col-md-4 col-sm-6 col-xs-6">
          <img style="max-width: 100%; max-height: 100px;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjAvMDIvMDQvMTQvNDAvNDYvNTBhYjEwYzAtMDdjYi00YTRiLWFmOGUtNWVkMjdlZGRkMWE3L0dUMjNiLmpwZyJdLFsicCIsInRodW1iIiwiNDAweDQwMFx1MDAzZSJdXQ?sha=73cfa0a4ec5db150"/>
        </div>
        <div style="padding-left:0px;" class="col-md-8 col-sm-6 col-xs-6">
          <strong>
          2. Display Units<br />
          &amp; HMIs
          </strong>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12" style="padding-top: 10px;">
      <a class="btn rp-index-btn-white-bordered shadow" style="width: 100%; text-align: left; vertical-align: middle;" href="#vsd">
        <div class="mitsu-box col-md-4 col-sm-6 col-xs-6">
          <img style="max-width: 100%; max-height: 100px;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMTkvMDUvMjkvMTIvMzcvNDUvNWVmN2E3YTMtYjM3Zi00NTZkLWEwOWYtODM3MGEzZTVlNmZmL21pdHN1YmlzaGktZWxlY3RyaWMtRkEtZDcwMC5qcGciXSxbInAiLCJ0aHVtYiIsIjQwMHg0MDBcdTAwM2UiXV0?sha=c4bb88029d3d0d36"/>
        </div>
        <div style="padding-left:0px;" class="col-md-8 col-sm-6 col-xs-6"><strong>3. Variable Speed <br />Drives - Inverters</strong></div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12" style="padding-top: 10px;">
      <a class="btn rp-index-btn-white-bordered shadow" style="width: 100%; text-align: left; vertical-align: middle;" href="#servo">
        <div class="mitsu-box col-md-4 col-sm-6 col-xs-6">
          <img style="max-width: 100%; max-height: 100px;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjAvMDYvMTUvMDkvMDYvMTgvM2UzODNiNjgtOTZhMi00MGI2LWE3N2QtMmZmMzRkZmFlYzE4L21pdHN1YmlzaGktaGFscC5qcGciXSxbInAiLCJ0aHVtYiIsIjQwMHg0MDBcdTAwM2UiXV0?sha=872395bd3e943e7e"/>
        </div>
        <div style="padding-left:0px;" class="col-md-8 col-sm-6 col-xs-6"><strong>4. Servo motors <br />&amp; Drives</strong></div>
      </a>
    </div>
  </div>
  <div class="mitsubishi-header">
    <h2>Products Quick Access</h2>
  </div>
  <div class="row">
    <h3 id="plc" class="group-title">Programmable Logic Controllers (PLCs)</h3>
    <h4 class="group-title" style="padding-top: 1rem;font-size: 1.6rem;font-weight: lighter;">Select your PLC by series</h4>
    <div class="row" style="margin:0;">
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=product-series-family-name-melsec-iq-r-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/melsec-iq-r-series.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">MELSEC iQ-R series</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=product-series-family-name-melsec-iq-f-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/melsec-iq-f-series.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">MELSEC iQ-F series</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=product-series-family-name-melsec-q-series-qnu" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/melsec-q-series.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">MELSEC Q-series</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=product-series-family-name-melsec-l-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/melsec-l-series.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">MELSEC L-series</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=product-series-family-name-melsec-f-fx-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/melsec-iq-f-series.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">MELSEC F-series</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=sub-range-name-fx3u&characteristics[]=product-series-family-name-melsec-f-fx-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/melsec-f-series-fx3u.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">FX3U</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=sub-range-name-fx3uc&characteristics[]=product-series-family-name-melsec-f-fx-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/melsec-f-series-fx3uc.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">FX3UC</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=sub-range-name-fx3g&characteristics[]=product-series-family-name-melsec-f-fx-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/melsec-f-series-fx3g.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">FX3G</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=sub-range-name-fx3ge&characteristics[]=product-series-family-name-melsec-f-fx-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/melsec-f-series-fx3ge.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">FX3GE</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=sub-range-name-fx3gc&characteristics[]=product-series-family-name-melsec-f-fx-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/melsec-f-series-fx3gc.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">FX3GC</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=sub-range-name-fx3s&characteristics[]=product-series-family-name-melsec-f-fx-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/fx3s.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">FX3S</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=sub-range-name-a2-alpha2&characteristics[]=product-series-family-name-melsec-f-fx-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/melsec-f-series-a2-alpha2.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">a2 Alpha2</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=product-series-family-name-melsec-qs-series-safety" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/melsec-qs-series.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">MELSEC QS-series</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=product-series-family-name-melsec-ws-series-safety" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/melsec-ws-series.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">MELSEC WS-series</p>
        </a>
      </div>
    </div>
    <h4 class="group-title" style="padding-top: 1rem;font-size: 1.6rem;font-weight: lighter;">Select your PLC by function</h4>
    <div class="row" style="margin:0;">
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-cpu-unit" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/cpu-units.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">CPU units</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-i-o-unit" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/io-units.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">I/O units</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-communications-unit" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/communications-units.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">Communications units</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-power-supply-unit" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/power-supply-unit.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">Power supply units</p>
        </a>
      </div>
    </div>
    <h3 id="got" class="group-title">HMIs / Programmable Graphic Operation terminals (GOT)</h3>
    <div class="row" style="margin:0;">
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=product-series-family-name-got2000-series&characteristics[]=main-function-hmi-display-unit" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/gt2000.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">GOT2000 series</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=sub-range-name-gt21&characteristics[]=main-function-hmi-display-unit&characteristics[]=product-series-family-name-got2000-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/gt21.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">GT21</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=sub-range-name-gt21-wide&characteristics[]=main-function-hmi-display-unit&characteristics[]=product-series-family-name-got2000-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/gt21-wide.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">GT21 Wide</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=sub-range-name-gt23&characteristics[]=main-function-hmi-display-unit&characteristics[]=product-series-family-name-got2000-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjAvMDIvMDQvMTQvNDAvNDcvYzQxNDk2YzctOWViZC00NjJmLWExN2EtYjIxODAwM2QwYWYyL0dUMjMwOGIuanBnIl0sWyJwIiwidGh1bWIiLCIxMTJ4MTQwXHUwMDNlIl1d?sha=19c8e993246ad93b">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">GT23</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=sub-range-name-gt25&characteristics[]=main-function-hmi-display-unit&characteristics[]=product-series-family-name-got2000-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/gt25.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">GT25</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-hmi-display-unit&characteristics[]=product-series-family-name-got2000-series&characteristics[]=sub-range-name-gt25-handy-got" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/gt25-handy-got.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">GT25 Handy GOT</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-hmi-display-unit&characteristics[]=product-series-family-name-got2000-series&characteristics[]=sub-range-name-gt27" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/gt27.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">GT27</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-hmi-display-unit&characteristics[]=product-series-family-name-got1000-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/got1000.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">GOT1000 series</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-hmi-display-unit&characteristics[]=product-series-family-name-got1000-series&characteristics[]=sub-range-name-gt10" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjAvMDIvMDQvMTQvNDIvMTkvMWIyNmRlZmEtMmQyOC00NzEwLWIzZmEtZTk5MDU5ODZiM2E5L0dUMTAtYmxhY2stZnJhbWUtd2hpdGUtTENELmpwZyJdLFsicCIsInRodW1iIiwiMTEyeDE0MFx1MDAzZSJdXQ?sha=43cc9c6c96a645db">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">GT10</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-hmi-display-unit&characteristics[]=product-series-family-name-got1000-series&characteristics[]=sub-range-name-gt11" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/gt11.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">GT11</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-hmi-display-unit&characteristics[]=product-series-family-name-got1000-series&characteristics[]=sub-range-name-gt11-handy-got" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/gt11-got.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">GT11 Handy GOT</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-hmi-display-unit&characteristics[]=product-series-family-name-got1000-series&characteristics[]=sub-range-name-gt12" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/gt12.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">GT12</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-hmi-display-unit&characteristics[]=product-series-family-name-got1000-series&characteristics[]=sub-range-name-gt14" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/gt14.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">GT14</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-hmi-display-unit&characteristics[]=product-series-family-name-got1000-series&characteristics[]=sub-range-name-gt14-handy-got" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/gt14-handy-got.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">GT14 Handy GOT</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-hmi-display-unit&characteristics[]=product-series-family-name-got1000-series&characteristics[]=sub-range-name-gt15" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjAvMDIvMDQvMTQvNDIvMDYvNzhmYTdkNmQtNWJhNi00Mzg1LWE2YTAtMzhkNDYzNzcxNDg2L0dUMTUuanBnIl0sWyJwIiwidGh1bWIiLCIxMTJ4MTQwXHUwMDNlIl1d?sha=645821ed439c5f1b">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">GT15</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-hmi-display-unit&characteristics[]=product-series-family-name-got1000-series&characteristics[]=sub-range-name-gt16" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjAvMDIvMDQvMTQvNDEvNTMvOTdkYWIwMGYtZTY5MS00MGU1LWJhNDUtOGM2ZjBjZDRhODNjL0dUMTYuanBnIl0sWyJwIiwidGh1bWIiLCIxMTJ4MTQwXHUwMDNlIl1d?sha=da6e136ebe5bbf26">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">GT16</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-hmi-display-unit&characteristics[]=product-series-family-name-got1000-series&characteristics[]=sub-range-name-gt16-handy-got" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjAvMDIvMDQvMTQvNDIvMDUvYzRlYzI5MTItMWI2Yi00NThmLTliNTktMWQ3NzcxODFlMTNiL0dUMTY2NUhTLVZUQkQuanBnIl0sWyJwIiwidGh1bWIiLCIxMTJ4MTQwXHUwMDNlIl1d?sha=85bb3abe184eb13f">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">GT16 Handy GOT</p>
        </a>
      </div>
    </div>
    <h3 id="vsd" class="group-title">Variable Speed Drives (VSD/VFD)</h3>
    <div class="row" style="margin:0;">
      <span style="position: absolute; top: -100px;"></span>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-variable-speed-frequency-drive-vsd-vfd-inverter&characteristics[]=product-series-family-name-freqrol-fr-a700-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/fr-a700.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">FREQROL FR-A700 series</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-variable-speed-frequency-drive-vsd-vfd-inverter&characteristics[]=product-series-family-name-freqrol-fr-a701-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/fr-a701.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">FREQROL FR-A701 series</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-variable-speed-frequency-drive-vsd-vfd-inverter&characteristics[]=product-series-family-name-freqrol-fr-a800-plus-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/fr-a800-plus.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">FREQROL FR-A800 Plus series</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-variable-speed-frequency-drive-vsd-vfd-inverter&characteristics[]=product-series-family-name-freqrol-fr-a800-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/fr-a800.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">FREQROL FR-A800 series</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-variable-speed-frequency-drive-vsd-vfd-inverter&characteristics[]=product-series-family-name-freqrol-fr-af700-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/fr-af700.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">FREQROL FR-AF700 series</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-variable-speed-frequency-drive-vsd-vfd-inverter&characteristics[]=product-series-family-name-freqrol-fr-d700-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/fr-d700.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">FREQROL FR-D700 series</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-variable-speed-frequency-drive-vsd-vfd-inverter&characteristics[]=product-series-family-name-freqrol-fr-e500-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/fr-e500.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">FREQROL FR-E500 series</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-variable-speed-frequency-drive-vsd-vfd-inverter&characteristics[]=product-series-family-name-freqrol-fr-e700-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/fr-e700.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">FREQROL FR-E700 series</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-variable-speed-frequency-drive-vsd-vfd-inverter&characteristics[]=product-series-family-name-freqrol-fr-e800-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/fr-e800.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">FREQROL FR-E800 series</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-variable-speed-frequency-drive-vsd-vfd-inverter&characteristics[]=product-series-family-name-freqrol-fr-f700-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/fr-f700.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">FREQROL FR-F700 series</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-variable-speed-frequency-drive-vsd-vfd-inverter&characteristics[]=product-series-family-name-freqrol-fr-f700p-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/fr-f700p.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">FREQROL FR-F700P series</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-variable-speed-frequency-drive-vsd-vfd-inverter&characteristics[]=product-series-family-name-freqrol-fr-f700pj-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/fr-f700pj.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">FREQROL FR-F700PJ series</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-variable-speed-frequency-drive-vsd-vfd-inverter&characteristics[]=product-series-family-name-freqrol-fr-f800-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/fr-f800.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">FREQROL FR-F800 series</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-variable-speed-frequency-drive-vsd-vfd-inverter&characteristics[]=product-series-family-name-mgi-technologies-m4000-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/m4000.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">MGI Technologies M4000 series</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics[]=main-function-variable-speed-frequency-drive-vsd-vfd-inverter&characteristics[]=product-series-family-name-mgi-technologies-m7000-series" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://media-library.kyklo.tech/widgets-common-assets/products/mitsubishi/m7000.jpg">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">MGI Technologies M7000 series</p>
        </a>
      </div>
    </div>
    <h3 id="servo" class="group-title">Servo Drives and Motors</h3>
    <div class="row" style="margin:0;">
      <span style="position: absolute; top: -100px;"></span>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics%5B%5D=product-series-family-name-melservo-j4-series&characteristics%5B%5D=main-function-ac-servo-drive" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMTgvMDkvMjQvMTQvNTUvMDAvOWRlMjczMDEtZDNlYy00MmEyLWE5ODEtYTA5OWQyZTc3YzUwL21pdHN1YmlzaGktbXJqNGdmcmouanBnIl0sWyJwIiwidGh1bWIiLCI0MDB4NDAwXHUwMDNlIl1d?sha=340bc4c0be785a5e">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">MELSERVO J4 Series Servo Amplifiers</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/mitsubishi?characteristics%5B%5D=product-series-family-name-melservo-j4-series&characteristics%5B%5D=main-function-ac-servo-motor" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMTgvMDkvMjQvMTQvNTYvNDUvZGY3ZDY3NWEtNWQ0MS00Zjk5LWIxMGYtZmVkOWI3NTEwMmY0L21pdHN1YmlzaGktaGdzci5qcGciXSxbInAiLCJ0aHVtYiIsIjQwMHg0MDBcdTAwM2UiXV0?sha=2f8412f6462ad843">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">MELSERVO J4 Series Servo Motors</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
          <a href="/brands/mitsubishi?characteristics%5B%5D=product-series-family-name-melservo-je-series&characteristics%5B%5D=main-function-ac-servo-drive" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
            <img style="max-height: 100px;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMTgvMDkvMjQvMTUvMDYvNTEvYjI3YjQwMzktNmMwNi00OWViLWI1YjgtYTJmMDNmZGE5MTkxL21pdHN1YmlzaGktbXItamUtMTBiLmpwZyJdLFsicCIsInRodW1iIiwiNDAweDQwMFx1MDAzZSJdXQ?sha=8c72f81d179aaf92">
            <p style="margin-top:5px;font-size:.9em;font-weight:bold;">MELSERVO JE Series Servo Amplifiers</p>
          </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
          <a href="/brands/mitsubishi?characteristics%5B%5D=product-series-family-name-melservo-je-series&characteristics%5B%5D=main-function-ac-servo-motor" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
            <img style="max-height: 100px;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMTgvMDkvMjQvMTUvMDcvMDAvMjZiYWNiNWUtNDM2NC00NmIzLTg1ZTAtNmYwYjQ4ODU4ZjdhL21pdHN1YmlzaGktaGdrbjEzai5qcGciXSxbInAiLCJ0aHVtYiIsIjQwMHg0MDBcdTAwM2UiXV0?sha=3a43a4a5203475e3">
            <p style="margin-top:5px;font-size:.9em;font-weight:bold;">MELSERVO JE Series Servo Motors</p>
          </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
          <a href="/brands/mitsubishi?characteristics%5B%5D=product-series-family-name-melservo-jn-series&characteristics%5B%5D=main-function-ac-servo-drive" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
            <img style="max-height: 100px;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMTgvMDkvMjQvMTUvMDkvNDgvOTlmOWVjMGUtMjgxYi00OWQ3LWI1YmItN2QwYTYzM2I5ZmEwL21pdHN1YmlzaGktbXJqbi5qcGciXSxbInAiLCJ0aHVtYiIsIjQwMHg0MDBcdTAwM2UiXV0?sha=e260f200f79bc681">
            <p style="margin-top:5px;font-size:.9em;font-weight:bold;">MELSERVO JN Series Servo Amplifiers</p>
          </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
          <a href="/brands/mitsubishi?characteristics%5B%5D=product-series-family-name-melservo-jn-series&characteristics%5B%5D=main-function-ac-servo-motor" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
            <img style="max-height: 100px;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMTgvMDkvMjQvMTUvMDkvNTMvMTE2MGU4NDgtOTU3OC00YzY4LTg0OWUtMzNkNjRiZjNlZDYxL21pdHN1YmlzaGktaGZrbjIzYmsuanBnIl0sWyJwIiwidGh1bWIiLCI0MDB4NDAwXHUwMDNlIl1d?sha=10ef08443f076a76">
            <p style="margin-top:5px;font-size:.9em;font-weight:bold;">MELSERVO JN Series Servo Motors</p>
          </a>
      </div>
    </div>
    <style type="text/css">


      .kyklo-floating-font {
        font-size: 0.75em !important;
        font-weight: bold;
        color: #7b7b7b;
      }

      .div-float-button {
        position: fixed;
        top: 195px;
        right: 0;
        max-width: 120px;
        z-index: 999;
        border: none;
        outline: none;
        background-color: rgba(247, 247, 247, .8);
        box-shadow: 0 .3rem .7rem rgba(0, 0, 0, .075) !important;
        font-style: #000 30px
      }

      .div-float-button a {
        min-height: 50px;
        padding: 10px;
        display: block;
        border: none;
        outline: none;
        background-color: Transparent;
        text-align: center;
      }

      .div-float-button a:hover {
        text-decoration: none
      }

      .div-float-button hr {
        height: 1.5px
      }

      .div-float-button a:hover {
        background-color: #fff
      }

      .div-float-button a>i {
        color: #000;
        font-size: 30px;
      }

      .div-float-button a>img {
        display: block;
        margin: 0 auto;
        height: 30px;
        width: 30px;
        object-fit: scale-down;
      }

      .div-float-button-xs {
        position: fixed;
        bottom: 0px;
        z-index: 999;
        border: none;
        outline: none;
        background-color: #F7F7F7;
        width: 100%;
        box-shadow: 0 -0.1rem 0.4rem rgba(0, 0, 0, .2) !important;
        font-style: #000 30px;
        text-align: center;
      }

      .div-float-button-xs a {
        min-height: 50px;
        padding: 4px 4px 2px 4px;
        display: inline-block;
        border: none;
        outline: none;
        margin: 0 3px;
      }

      .div-float-button-xs a:hover {
        text-decoration: none;
      }

      .div-float-button-xs hr {
        height: 1.5px;
      }

      .div-float-button-xs a:hover {
        background-color: #ffffff;
      }

      .div-float-button-xs a>i {
        color: #000;
        font-size: 1.5em;
      }
    </style>
    <div class="div-float-button hidden-md-down">
      <hr style="padding: 0;margin:0;">
      <a href="/brand/mitsubishi">
        <img src="https://likhit-kyklo.bitbucket.io/assets/mitsubishi/selector.png">
        <h4 class="m-b-0 kyklo-floating-font">Product Configurator</h4>
      </a>
      <hr style="padding: 0;margin:0;">
      <a href="https://us.mitsubishielectric.com/fa/en/support/heretohelp">
        <img src="https://likhit-kyklo.bitbucket.io/assets/mitsubishi/support.png">
        <h4 class="m-b-0 kyklo-floating-font">Contact us</h4>
      </a>
    </div>
  </div>
</div>

