<div class="modal-content">
<div style="padding: 4px 10px 0 10px;">
    <button type="button" data-dismiss="modal" class="close" style="float: right;font-size: 1.5rem;float: right;width: 20px;height: 20px;opacity: 1;outline: none;">
        <span aria-hidden="true">×</span>
    </button>
</div>
    <div style="text-align: center; padding-bottom: 5px;">
        <img style="padding: 5px;" src="https://media-library.kyklo.tech/widget/maydenki/popup-maydenki.jpg" class="img-fluid">
        <a href="/buyers/sign_in?from=pop+up" class="btn btn-secondary btn-icon" style="margin: 5px;">Login</a>
        <a href="/buyers/sign_up?from=pop+up" class="btn btn-secondary btn-icon" style="margin: 5px;">Sign up</a>
    </div>
</div>

<script>
    $( ".close" ).on( "click", function() {
        $('.modal-content').remove()
    });
</script>


<style type="text/css">
    .kyklo-landingpage-popup {
        width: 500px;
        margin: 15px;
    }

    .btn-secondary {
        padding-top: 5px;
        padding-bottom: 5px;
        color: white !important;
    }

    .modal-content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
    }

    .modal-title {
        font-size: 13px;
        font-weight: bold;
        color: #999;
    }

</style>
