<div style="overflow-x: hidden;">

    <h3 class="group-title">Linear servo actuators</h3>
    <div class="row">
        <h4 class="col">Longitudinal belt driven actuators</h4>
        <button class="col">See All</button>
    </div>
    <div class="row">
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/smc?characteristics[]=product-series-family-name-automatic-switches"  target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMTkvMDQvMTcvMTkvMDYvNTUvOWM5NGZhOGYtOWFiYy00ZWMzLWIyYTYtZTE1MDQyMDUwNTYwL0QtRjd4Vi5qcGciXSxbInAiLCJ0aHVtYiIsIjExMngxNDBcdTAwM2UiXV0?sha=c27bb67a72e77eb9">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">Automatic switches</p>
        </a>
      </div>
    </div>    

    <h4>Friction screw driven actuators</h4>
    <div class="row">
        <div class="col-md-3 col-xs-6" style="padding:10px;">
          <a href="/brands/smc?characteristics[]=product-series-family-name-automatic-switches"  target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
            <img style="max-height: 100px;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMTkvMDQvMTcvMTkvMDYvNTUvOWM5NGZhOGYtOWFiYy00ZWMzLWIyYTYtZTE1MDQyMDUwNTYwL0QtRjd4Vi5qcGciXSxbInAiLCJ0aHVtYiIsIjExMngxNDBcdTAwM2UiXV0?sha=c27bb67a72e77eb9">
            <p style="margin-top:5px;font-size:.9em;font-weight:bold;">Automatic switches</p>
          </a>
        </div>
      </div>  

    <h3 class="group-title">Rotary servo motors</h3>
    <div class="row">
        <div class="row">
            <div class="col-md-3 col-xs-6" style="padding:10px;">
            <a href="/brands/smc?characteristics[]=product-series-family-name-automatic-switches"  target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
                <img style="max-height: 100px;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMTkvMDQvMTcvMTkvMDYvNTUvOWM5NGZhOGYtOWFiYy00ZWMzLWIyYTYtZTE1MDQyMDUwNTYwL0QtRjd4Vi5qcGciXSxbInAiLCJ0aHVtYiIsIjExMngxNDBcdTAwM2UiXV0?sha=c27bb67a72e77eb9">
                <p style="margin-top:5px;font-size:.9em;font-weight:bold;">Automatic switches</p>
            </a>
            </div>
        </div> 
        <button class="col">See All</button>
    </div>

    <h3 class="group-title">Servo drives</h3>
    <div class="row">
        <div class="row">
            <div class="col-md-3 col-xs-6" style="padding:10px;">
            <a href="/brands/smc?characteristics[]=product-series-family-name-automatic-switches"  target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
                <img style="max-height: 100px;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMTkvMDQvMTcvMTkvMDYvNTUvOWM5NGZhOGYtOWFiYy00ZWMzLWIyYTYtZTE1MDQyMDUwNTYwL0QtRjd4Vi5qcGciXSxbInAiLCJ0aHVtYiIsIjExMngxNDBcdTAwM2UiXV0?sha=c27bb67a72e77eb9">
                <p style="margin-top:5px;font-size:.9em;font-weight:bold;">Automatic switches</p>
            </a>
            </div>
        </div> 
        <button class="col">See All</button>
    </div>


    <h3 class="group-title">Magnetic linear positioners</h3>
    <div class="row">
        <div class="row">
            <div class="col-md-3 col-xs-6" style="padding:10px;">
            <a href="/brands/smc?characteristics[]=product-series-family-name-automatic-switches"  target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
                <img style="max-height: 100px;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMTkvMDQvMTcvMTkvMDYvNTUvOWM5NGZhOGYtOWFiYy00ZWMzLWIyYTYtZTE1MDQyMDUwNTYwL0QtRjd4Vi5qcGciXSxbInAiLCJ0aHVtYiIsIjExMngxNDBcdTAwM2UiXV0?sha=c27bb67a72e77eb9">
                <p style="margin-top:5px;font-size:.9em;font-weight:bold;">Automatic switches</p>
            </a>
            </div>
        </div> 
        <button class="col">See All</button>
    </div>

    <h3 class="group-title">Air preparation</h3>
    <div class="row" style="padding-bottom: 15px;margin-bottom:10px;border-bottom: rgb(128, 0, 0) 3px solid;">
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/parker-hannifin?characteristics[]=product-series-family-name-air-dryer-systems&kyklo-wg-pid=62" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:150px;width:100%;white-space: normal;margin-right:auto;margin-left:auto;">
          <img style="max-height: 90px;margin-right:auto;margin-left: auto;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMTkvMDMvMDcvMDkvMjIvMjAvNTk0NDYxNzctZGJmNS00MTliLWIwMDgtNDRhMDY3OWRjODBhLzc1LUEyMC5qcGciXSxbInAiLCJ0aHVtYiIsIjExMngxNDBcdTAwM2UiXV0?sha=1b19881a22e48982" class="img-fluid">
          <p style="margin-top:10px;font-size: .9em;font-weight:bold;">Air dryer systems</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/parker-hannifin?characteristics[]=product-series-family-name-food-industry-air-systems&kyklo-wg-pid=63" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:150px;width:100%;white-space: normal;margin-right:auto;margin-left:auto;">
          <img style="max-height: 90px;margin-right:auto;margin-left: auto;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMTkvMDMvMDcvMDkvMjEvNTQvOTFlYjZkMmYtY2Q3ZC00MzI0LTkyN2YtNDc1Y2Y1YWZhYWQwL3JlcGxhY2VtZW50LWNhcnRyaWRnZS5qcGciXSxbInAiLCJ0aHVtYiIsIjExMngxNDBcdTAwM2UiXV0?sha=98614939ed246ecd" class="img-fluid">
          <p style="margin-top:10px;font-size: .9em;font-weight:bold;">Food industry air systems</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/parker-hannifin?characteristics[]=product-series-family-name-gas-systems&kyklo-wg-pid=64" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:150px;width:100%;white-space: normal;margin-right:auto;margin-left:auto;">
          <img style="max-height: 90px;margin-right:auto;margin-left: auto;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMTkvMDMvMDcvMDkvMjYvMDQvZGMwN2NiNDgtNGYyYy00M2JhLWJiOTMtMTc1NDY2OTY4OTM5Lzk5MzMtMDUuanBnIl0sWyJwIiwidGh1bWIiLCIxMTJ4MTQwXHUwMDNlIl1d?sha=cd2f810f0d1c6c0e" class="img-fluid">
          <p style="margin-top:10px;font-size: .9em;font-weight:bold;">Gas systems</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/parker-hannifin?characteristics[]=product-series-family-name-liquid-systems&kyklo-wg-pid=65" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:150px;width:100%;white-space: normal;margin-right:auto;margin-left:auto;">
          <img style="max-height: 90px;margin-right:auto;margin-left: auto;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMTkvMDMvMDcvMDkvMjcvMzMvN2Y0YzIzZGMtNWY2Zi00NDkwLTllOTgtYjU4Y2E3NzFlYjNiL2ZpbHRlci1jb21iaW5hdGlvbnMuanBnIl0sWyJwIiwidGh1bWIiLCIxMTJ4MTQwXHUwMDNlIl1d?sha=0234d76f6c0419b5" class="img-fluid">
          <p style="margin-top:10px;font-size: .9em;font-weight:bold;">Liquid systems</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/parker-hannifin?characteristics[]=product-series-family-name-pneumatic-systems&kyklo-wg-pid=66" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:150px;width:100%;white-space: normal;margin-right:auto;margin-left:auto;">
          <img style="max-height: 90px;margin-right:auto;margin-left: auto;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMTkvMDMvMDcvMDkvMjcvNDEvNDAzMjZkNWItZDI2Zi00MDA4LWJjNDMtOWI4NjQ3MzE4N2Y3L3N0YW5sZXNzLXN0ZWVsLXNpbnRlcmVkLWZpbHRlci5qcGciXSxbInAiLCJ0aHVtYiIsIjExMngxNDBcdTAwM2UiXV0?sha=9a02030d1e39d939" class="img-fluid">
          <p style="margin-top:10px;font-size: .9em;font-weight:bold;">Pneumatic systems</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/parker-hannifin?characteristics[]=product-series-family-name-steam-systems&kyklo-wg-pid=67" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:150px;width:100%;white-space: normal;margin-right:auto;margin-left:auto;">
          <img style="max-height: 90px;margin-right:auto;margin-left: auto;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMTkvMDMvMDcvMDkvMjEvNDUvYmM4NThiN2ItNzZlOC00NjgyLTlmNjktMDRhNWY4MDZmMTJhLzIzLTc1Ui5qcGciXSxbInAiLCJ0aHVtYiIsIjExMngxNDBcdTAwM2UiXV0?sha=88065a756a4dc943" class="img-fluid">
          <p style="margin-top:10px;font-size: .9em;font-weight:bold;">Steam systems</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/parker-hannifin?characteristics[]=product-series-family-name-vacuum-pumps-systems&kyklo-wg-pid=68" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:150px;width:100%;white-space: normal;margin-right:auto;margin-left:auto;">
          <img style="max-height: 90px;margin-right:auto;margin-left: auto;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMTkvMDMvMDcvMDkvMjEvMzMvMjU4YmE1ZDktMGI0ZC00MTMzLTg3MjQtZGVhOGQ1MDZkZTVhL0FSLTMwODAuanBnIl0sWyJwIiwidGh1bWIiLCIxMTJ4MTQwXHUwMDNlIl1d?sha=661c2807ae75c8ad" class="img-fluid">
          <p style="margin-top:10px;font-size: .9em;font-weight:bold;">Vacuum pumps systems</p>
        </a>
      </div>
    </div>

</div>