
    <hr class="section-line-style">
    <span id="section-redlion" class="widget-anchor"></span>
    <figure style="margin-left: -35px;">
      <img src="https://media-library.kyklo.tech/widgets-common-assets/brands/logo-redlion.png" class="section-logo">
    </figure>
    <a href="#widget-index">Back to index</a>
    <h3 class="group-title">Controllers & Data Acquisition</h3>
    <div class="row">
      <div class="col-xs-6 col-md-3 product-cell">
        <a href="/brands/red-lion?characteristics[]=main-function-cpu-unit" class="btn shadow-medium text-center standard-height">
          <div class="img-product">
            <img src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjEvMDQvMjYvMDQvNDYvMDEvYTIwMDUwZTAtMDc2NS00MzA1LWIzNDItOGIzNWRkZDQxMjMzL2VkZ2VfY29udHJvbGxlcl9hdF9hbmdsZS5qcGciXSxbInAiLCJ0aHVtYiIsIjExMngxNDBcdTAwM2UiXV0?sha=65eed19f8a799dd9" alt="Industrial Controllers" />
          </div>
          <div class="flex-center-vertically">
            <p class="range-name">Industrial Controllers</p>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-md-3 product-cell">
        <a href="/brands/red-lion?characteristics[]=main-function-i-o-unit" class="btn shadow-medium text-center standard-height">
          <div class="img-product">
            <img src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjEvMDQvMjYvMDQvNDcvNDIvOTU5M2JkYjgtOWZlNy00ODgyLTllZmYtYTI1YzhhNzExZDNjL0NTUElEMS5qcGciXSxbInAiLCJ0aHVtYiIsIjExMngxNDBcdTAwM2UiXV0?sha=9cda3c1f5cd7f014" alt="I/O Modules" />
          </div>
          <div class="flex-center-vertically">
            <p class="range-name">I/O Modules</p>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-md-3 product-cell">
        <a href="/brands/red-lion?search=pid+controller" class="btn shadow-medium text-center standard-height">
          <div class="img-product">
            <img src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjEvMDQvMjYvMDQvNDcvMTAvNGMzNTc2ZGMtMDMzOS00OTJhLThiYjctZDQ3ZDE5OThiYmE5L3B4dTE0LTIwMF8xXzAuanBnIl0sWyJwIiwidGh1bWIiLCIxMTJ4MTQwXHUwMDNlIl1d?sha=609b28557cd7aa4a" alt="PID Controllers" />
          </div>
          <div class="flex-center-vertically">
            <p class="range-name">PID Controllers</p>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-md-3 product-cell">
        <a href="/brands/red-lion?search=data+station" class="btn shadow-medium text-center standard-height">
          <div class="img-product">
            <img src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjEvMDQvMjYvMDQvNDcvNDYvMjM4OGExMzEtZjFlMS00MmFlLWI5MzMtNGQ0YWMzMTRiN2FkL2RzcGxlLTIwMF8xLmpwZyJdLFsicCIsInRodW1iIiwiMTEyeDE0MFx1MDAzZSJdXQ?sha=bf2d6e7570c457c5" alt="Data Acquisition" />
          </div>
          <div class="flex-center-vertically">
            <p class="range-name">Data Acquisition</p>
          </div>
        </a>
      </div>
    </div>
    <h3 class="group-title">Displays</h3>
    <div class="row">
      <div class="col-xs-6 col-md-3 product-cell">
        <a href="/brands/red-lion?search=meter+pax" class="btn shadow-medium text-center standard-height">
          <div class="img-product">
            <img src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjEvMDQvMjYvMDQvNDgvMjcvMmJkMzI1YTAtYWEwMS00MDQ1LTgyODYtYjZhYjZjMTE5NTE3L1BheHItMjAwXzAuanBnIl0sWyJwIiwidGh1bWIiLCIxMTJ4MTQwXHUwMDNlIl1d?sha=20516a8a7a92740f" alt="PAX compact panel LED meters" />
          </div>
          <div class="flex-center-vertically">
            <p class="range-name">PAX compact panel LED meters</p>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-md-3 product-cell">
        <a href="/brands/red-lion?search=meter+cub" class="btn shadow-medium text-center standard-height">
          <div class="img-product">
            <img src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjEvMDQvMjYvMDQvNDgvNTgvNzI1MmMyZDgtNTNkMi00MTdmLWI0M2QtZGRkM2M1ODZkYjhjL2N1YjV2LTIwMF8wLmpwZyJdLFsicCIsInRodW1iIiwiMTEyeDE0MFx1MDAzZSJdXQ?sha=895401c3d50a49d3" alt="CUB compact panel backlit LCD meters" />
          </div>
          <div class="flex-center-vertically">
            <p class="range-name">CUB compact panel backlit LCD meters</p>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-md-3 product-cell">
        <a href="/brands/red-lion?search=ld+display" class="btn shadow-medium text-center standard-height">
          <div class="img-product">
            <img src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjEvMDQvMjYvMDQvNDkvMTgvNmFiZWIzMTQtNWIwYS00MGMzLTkxOTAtYWUwYTUxYTZkNjYwL0xEVF80aW5jaF8wLmpwZyJdLFsicCIsInRodW1iIiwiMTEyeDE0MFx1MDAzZSJdXQ?sha=06249dfdf365360c" alt="Large LED LD displays, timers and counters" />
          </div>
          <div class="flex-center-vertically">
            <p class="range-name">Large LED LD displays, timers and counters</p>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-md-3 product-cell">
        <a href="/products/PTV00000" class="btn shadow-medium text-center standard-height">
          <div class="img-product">
            <img src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjEvMDQvMjYvMDQvNDkvMjcvYmU4MjRlNjUtOGZiMi00YWY5LWJhOGItMjg4ODRiOTQxMGYzL1BUVjAwMDAwLmpwZyJdLFsicCIsInRodW1iIiwiNDAweDQwMFx1MDAzZSJdXQ?sha=6cda76b87e8cf6a0" alt="ProducTVity Station" />
          </div>
          <div class="flex-center-vertically">
            <p class="range-name">ProducTVity Station</p>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-md-3 product-cell">
        <a href="/brands/red-lion?characteristics[]=sub-range-name-hmi-rugged-graphite-series" class="btn shadow-medium text-center standard-height">
          <div class="img-product">
            <img src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjEvMDQvMjYvMDQvNDcvNTAvZmMzNzAwYzUtM2QxMS00MDAxLWE3MTYtMmUwM2IxOGQzMGZlL0dyYXBoaXRlK1pQK21vZHVsZXMrJTJCK21vZHVsZV8yLmpwZyJdLFsicCIsInRodW1iIiwiMTEyeDE0MFx1MDAzZSJdXQ?sha=6b38024be16bfaef" alt="Rugged Graphite HMIs" />
          </div>
          <div class="flex-center-vertically">
            <p class="range-name">Rugged Graphite HMIs</p>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-md-3 product-cell">
        <a href="/brands/red-lion?search=hmi+cr+000-" class="btn shadow-medium text-center standard-height">
          <div class="img-product">
            <img src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjEvMDQvMjYvMDQvNDcvNTQvMjA4NDI1ZGUtZTQxMi00ZjZhLThmYzEtNGE0OWEwZmU0NWE2L2NyMzAwMC0xMC1yLWJsdWVib3R0bGUuanBnIl0sWyJwIiwidGh1bWIiLCIxMTJ4MTQwXHUwMDNlIl1d?sha=8bae65adeda6df3b" alt="CR1000/3000 HMIs" />
          </div>
          <div class="flex-center-vertically">
            <p class="range-name">CR1000/3000 HMIs</p>
          </div>
        </a>
      </div>
    </div>
    <h3 class="group-title">Industrial Ethernet switches</h3>
    <div class="row">
      <div class="col-md-3 col-xs-6" style="padding: 10px;">
        <a href="/brands/red-lion?search=sixnet&characteristics[]=switch-design-switch-unmanaged" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height: 170px; width: 100%; white-space: normal; margin-right: auto; margin-left: auto;">
          <img style="max-height: 100px; margin-right: auto; margin-left: auto;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjEvMDQvMjYvMDQvNTEvNTYvMmU3MzVjOWYtNTU3Yi00ZmUyLWIyMTgtOGRiMTk1NzBlNjZjL1NMWC05RVNfU1Rfbm9fZGluXzAuanBnIl0sWyJwIiwidGh1bWIiLCIxMTJ4MTQwXHUwMDNlIl1d?sha=010db89fdf5905fd" class="img-fluid" />
          <p style="margin-top: 10px; font-size: 0.9em; font-weight: bold;">Sixnet un-managed switches (Standard; DIN rail)</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding: 10px;">
        <a href="/brands/red-lion?search=sixnet+ip67&characteristics[]=main-function-ethernet-switch&characteristics[]=switch-design-switch-unmanaged" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height: 170px; width: 100%; white-space: normal; margin-right: auto; margin-left: auto;">
          <img style="max-height: 100px; margin-right: auto; margin-left: auto;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjEvMDQvMjYvMDQvNTQvNTUvYWNhNmI2YzctM2FhMi00OWYwLTgwYTEtMDI1ZjUyNTAyYjMxL0VULThFUy1NSUwtMS0tTF8xLmpwZyJdLFsicCIsInRodW1iIiwiMTEyeDE0MFx1MDAzZSJdXQ?sha=13d8bd09d3c2bebd" class="img-fluid" />
          <p style="margin-top: 10px; font-size: 0.9em; font-weight: bold;">Sixnet un-managed switches (IP67)</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding: 10px;">
        <a href="/brands/red-lion?search=sixnet+ip67&characteristics[]=main-function-ethernet-switch&characteristics[]=switch-design-switch-managed" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height: 170px; width: 100%; white-space: normal; margin-right: auto; margin-left: auto;">
          <img style="max-height: 100px; margin-right: auto; margin-left: auto;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjEvMDQvMjYvMDQvNTQvNTUvODRlYzMzNDYtMmNmZS00Y2ExLTgwZjYtNWQ1MDIzZDAxODYyL0VULThNRy1NaWxfbGdfMS5qcGciXSxbInAiLCJ0aHVtYiIsIjExMngxNDBcdTAwM2UiXV0?sha=2cdfd4bbe41b1a11" class="img-fluid" />
          <p style="margin-top: 10px; font-size: 0.9em; font-weight: bold;">Sixnet managed switches (IP67)</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding: 10px;">
        <a href="/brands/red-lion?search=sixnet&characteristics[]=main-function-ethernet-switch&characteristics[]=switch-design-switch-monitored" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height: 170px; width: 100%; white-space: normal; margin-right: auto; margin-left: auto;">
          <img style="max-height: 100px; margin-right: auto; margin-left: auto;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjEvMDQvMjYvMDQvNTIvMzYvMTQ0MGQ3NDItOTVkNC00MDNiLTg4MWItYjZlYmVkYzk1ZDUyL1NMWC02UlMxX0xfMC5qcGciXSxbInAiLCJ0aHVtYiIsIjExMngxNDBcdTAwM2UiXV0?sha=f6e5d3e77ee54a18" class="img-fluid" />
          <p style="margin-top: 10px; font-size: 0.9em; font-weight: bold;">Sixnet monitored switches (Standard; DIN rail)</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding: 10px;">
        <a href="/brands/red-lion?search=sixnet&characteristics[]=main-function-ethernet-switch&characteristics[]=switch-design-option-poe-power-over-ethernet" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height: 170px; width: 100%; white-space: normal; margin-right: auto; margin-left: auto;">
          <img style="max-height: 100px; margin-right: auto; margin-left: auto;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjEvMDQvMjYvMDQvNTQvNDYvYzdlZDY1MjUtNmRiOS00MmFhLWE5ZTMtYWQxMDA3MTRkNWFhL2ViLTVFUzIzU2NfMC5qcGciXSxbInAiLCJ0aHVtYiIsIjExMngxNDBcdTAwM2UiXV0?sha=c72ec2eb5f42584b" class="img-fluid" />
          <p style="margin-top: 10px; font-size: 0.9em; font-weight: bold;">Sixnet PoE (Power-over-Ethernet) switches (Standard; DIN rail)</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding: 10px;">
        <a href="/brands/red-lion?search=n-tron&characteristics[]=switch-design-switch-unmanaged" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height: 170px; width: 100%; white-space: normal; margin-right: auto; margin-left: auto;">
          <img style="max-height: 100px; margin-right: auto; margin-left: auto;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjEvMDQvMjYvMDQvNTAvNTUvY2E1MjlmOGMtMTEzNS00NWViLTg5ZDUtNTMxOTJjZDdmYTM1LzEwOFRYXzAuanBnIl0sWyJwIiwidGh1bWIiLCIxMTJ4MTQwXHUwMDNlIl1d?sha=9cb3d39d453dc910" class="img-fluid" />
          <p style="margin-top: 10px; font-size: 0.9em; font-weight: bold;">N-Tron un-managed switches (Standard; DIN rail)</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding: 10px;">
        <a href="/brands/red-lion?search=n-tron&characteristics[]=switch-design-switch-managed" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height: 170px; width: 100%; white-space: normal; margin-right: auto; margin-left: auto;">
          <img style="max-height: 100px; margin-right: auto; margin-left: auto;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjEvMDQvMjYvMDQvNTMvNDMvYmExYmI2YjctYTU1My00NmQ0LWIyNDMtZGFiYTUzZGM0OWI1LzcxMkZYNC1TQ18xLmpwZyJdLFsicCIsInRodW1iIiwiMTEyeDE0MFx1MDAzZSJdXQ?sha=b0de8ddcf94775af" class="img-fluid" />
          <p style="margin-top: 10px; font-size: 0.9em; font-weight: bold;">N-Tron managed switches (Standard; DIN rail)</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding: 10px;">
        <a href="/brands/red-lion?search=n-tron&characteristics[]=switch-design-switch-monitored" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height: 170px; width: 100%; white-space: normal; margin-right: auto; margin-left: auto;">
          <img style="max-height: 100px; margin-right: auto; margin-left: auto;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjEvMDQvMjYvMDQvNTIvMDkvM2Y2Y2FkNjMtZWJhOC00ZWYzLTgzNmYtY2ZlNTBiNmI0ZGM0LzUwOEZYMl8wLmpwZyJdLFsicCIsInRodW1iIiwiMTEyeDE0MFx1MDAzZSJdXQ?sha=4d01dd10bfa4bae4" class="img-fluid" />
          <p style="margin-top: 10px; font-size: 0.9em; font-weight: bold;">N-Tron monitored switches (Standard; DIN rail)</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding: 10px;">
        <a href="/brands/red-lion?search=n-tron+poe" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height: 170px; width: 100%; white-space: normal; margin-right: auto; margin-left: auto;">
          <img style="max-height: 100px; margin-right: auto; margin-left: auto;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjEvMDQvMjYvMDQvNTQvNDEvNTI5NmU4ZWItZTdiZS00M2NlLTg0YjctZjMyOTgzZWFlNWI2LzEwNUZYLVBPRV8xLmpwZyJdLFsicCIsInRodW1iIiwiMTEyeDE0MFx1MDAzZSJdXQ?sha=5ee06d032ca745ff" class="img-fluid" />
          <p style="margin-top: 10px; font-size: 0.9em; font-weight: bold;">N-Tron PoE (Power-over-Ethernet) switches (Standard; DIN rail)</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding: 10px;">
        <a href="/brands/red-lion?search=nt24k&characteristics[]=main-function-ethernet-switch" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height: 170px; width: 100%; white-space: normal; margin-right: auto; margin-left: auto;">
          <img style="max-height: 100px; margin-right: auto; margin-left: auto;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjEvMDQvMjYvMDQvNTIvNDMvNWQzN2ViYmUtMDgzZS00Mzk0LTk3MTgtMzhjYmZkYzMwYTA3L05UMjRrLTE2VFhfTF8yXzAuanBnIl0sWyJwIiwidGh1bWIiLCI0MDB4NDAwXHUwMDNlIl1d?sha=6450c8a582f73998" class="img-fluid" />
          <p style="margin-top: 10px; font-size: 0.9em; font-weight: bold;">NT24k switches</p>
        </a>
      </div>
    </div>
    <h3 class="group-title">RTUs and routers</h3>
    <div class="row">
      <div class="col-md-3 col-xs-6" style="padding: 10px;">
        <a href="/brands/red-lion?characteristics[]=main-function-rtu-remote-terminal-unit" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height: 170px; width: 100%; white-space: normal; margin-right: auto; margin-left: auto;">
          <img style="max-height: 100px; margin-right: auto; margin-left: auto;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjEvMDQvMjYvMDQvNDYvMTgvNGM2ZWZhZGEtMzI5Yy00NGE5LTkwZTItZTJiNTQ3NzVkNGY3L21pcG1fTF8wLmpwZyJdLFsicCIsInRodW1iIiwiMTEyeDE0MFx1MDAzZSJdXQ?sha=1980b733c40fad02" class="img-fluid" />
          <p style="margin-top: 10px; font-size: 0.9em; font-weight: bold;">RTUs</p>
        </a>
      </div>
      <div class="col-md-3 col-xs-6" style="padding: 10px;">
        <a href="/brands/red-lion?search=router&characteristics[]=main-function-router-cellular" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height: 170px; width: 100%; white-space: normal; margin-right: auto; margin-left: auto;">
          <img style="max-height: 100px; margin-right: auto; margin-left: auto;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjEvMDQvMjYvMDQvNTYvMTAvOTM2ZjRiMzctYzVlMS00OTg3LWFlZGMtYjA1MDQzYmVmOGZlL1NOLTY3MjEuanBnIl0sWyJwIiwidGh1bWIiLCIxMTJ4MTQwXHUwMDNlIl1d?sha=44f6f14abe9210bf" class="img-fluid" />
          <p style="margin-top: 10px; font-size: 0.9em; font-weight: bold;">Routers</p>
        </a>
      </div>
    </div>