<div class="modal-content">
<div style="padding: 10px 10px 0 10px;">
    <button type="button" data-dismiss="modal" class="close" style="float: right;font-size: 1.5rem;float: right;width: 20px;height: 20px;opacity: 1;outline: none;">
        <span aria-hidden="true">×</span>
    </button>
</div>
    <div style="text-align: center;padding: 5px;">
        <img src="https://media-library.kyklo.tech/widget/000170-hte/popup-hte.jpg" class="img-fluid">
        <h5 class="modal-title" id="kyklo-landing-popup">HTE Technologies - Industrial Productivity Solutions for Manufacturers</h5>
        <a href="/buyers/sign_in?from=pop+up" class="btn btn-secondary btn-icon" style="margin: 5px;">Sign In</a>
        <a href="/buyers/sign_up?from=pop+up" class="btn btn-secondary btn-icon" style="margin: 5px;">Sign up</a>
    </div>
</div>

<script>
    $( ".close" ).on( "click", function() {
        $('.modal-content').remove()
    });
</script>


<style type="text/css">
    .kyklo-landingpage-popup {
        width: 500px;
        margin: 15px;
    }

    .btn-secondary {
        padding-top: 5px;
        padding-bottom: 5px;
        color: white !important;
    }

    .modal-content {
        width: 500px;
        position: fixed;
        bottom: 10px;
        left: 10px;
    }

    .modal-title {
        font-size: 13px;
        font-weight: bold;
        color: #999;
    }

    @media (max-device-width: 480px) {
        .modal-content {
            position: relative;
            display: block;
            bottom: 0px;
            left: 0px;
        }

        .kyklo-landingpage-popup {
            display: inline;
            width: 330px;
        }
    }

</style>
