<div id="hellobar-bar" class="notice-top-bar bg-primary">
    <div class="row justify-content-center py-2">
            <div class="col-md-11 text-center">
                <p style="padding:5px;" class="text-color-light mb-0"><strong>DEAL OF THE WEEK</strong> - Free Diagnosis &amp; Break Checks - <strong><a href="#" class="text-color-light text-decoration-none custom-text-underline-1">Make an Appointment</a></strong></p>                
            </div>
            <div class="col-md-1"> <a style="float: right;" href="javascript:void(0);" class="icon-close" onclick="$(\'#hellobar-bar\').fadeOut()">&#10006;</a> </div>
    </div>
</div>