<div style="overflow-x: hidden;">

    <h3 class="group-title">Linear servo actuators</h3>
    <div class="row">
        <h4>Longitudinal belt driven actuators</h4>
        <button>See All</button>
    </div>
    <div class="row">
      <div class="col-md-3 col-xs-6" style="padding:10px;">
        <a href="/brands/smc?characteristics[]=product-series-family-name-automatic-switches"  target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:170px;width: 100%;">
          <img style="max-height: 100px;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMTkvMDQvMTcvMTkvMDYvNTUvOWM5NGZhOGYtOWFiYy00ZWMzLWIyYTYtZTE1MDQyMDUwNTYwL0QtRjd4Vi5qcGciXSxbInAiLCJ0aHVtYiIsIjExMngxNDBcdTAwM2UiXV0?sha=c27bb67a72e77eb9">
          <p style="margin-top:5px;font-size:.9em;font-weight:bold;">Automatic switches</p>
        </a>
      </div>
    </div>    

    <hr style="height:3px; background-color: #0677B3;">
    <span id="section-murrplastik" class="widget-anchor"></span>
    <img src="https://media-library.kyklo.tech/widgets-common-assets/brands/logo-murrplastik.png" class="section-logo" alt="murr">
    <a href="#widget-index">Back to Index</a>
    <div class="row">
        <div class="col-md-3 col-xs-6" style="padding:10px;">
            <a href="/brands/murrplastik/categories/338-flexible-electrical-plastic-conduits" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:180px;width:100%;white-space: normal;margin-right:auto;margin-left:auto;">
                <img style="max-height: 100px;margin-right:auto;margin-left: auto;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMTkvMDkvMTkvMDkvMjcvMjMvNWJiZTQyZWEtYmJlYy00ZmJkLWI2YzgtM2YxMTcxYzcyM2ZhL011cnJQbGFzdGlrX0NvbmR1aXRzX0VXLVBQX3JvaHMtY2UtdXZfbWVjaC1jaGVtLmpwZyJdLFsicCIsInRodW1iIiwiMTEyeDE0MFx1MDAzZSJdXQ?sha=12df381de3debf33" class="img-fluid">
                <p style="margin-top:5px;margin-bottom:2px;font-size: .85em;font-weight:bold;">Electrical Plastic Conduits</p>
            </a>
        </div>
        <div class="col-md-3 col-xs-6" style="padding:10px;">
            <a href="/brands/murrplastik/categories/631-conduit-fittings" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:180px;width:100%;white-space: normal;margin-right:auto;margin-left:auto;">
                <img style="max-height: 100px;margin-right:auto;margin-left: auto;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMTkvMDkvMTkvMDkvMzkvMDUvZDRhODUwYzItOThkYy00ODI3LWE3YTgtN2Q3NGEzZmE0NDY0L011cnJQbGFzdGlrX0ZpdHRpbmdfRVJFR19yb2hzLWNlLmpwZyJdLFsicCIsInRodW1iIiwiMTEyeDE0MFx1MDAzZSJdXQ?sha=f2d20a048627a0ad" class="img-fluid">
                <p style="margin-top:5px;margin-bottom:2px;font-size: .85em;font-weight:bold;">Conduit fittings</p>
            </a>
        </div>
        <div class="col-md-3 col-xs-6" style="padding:10px;">
            <a href="/brands/murrplastik/categories/281-cables-preparation-maintenance" target="_blank" class="btn rp-index-btn-white-bordered shadow-medium text-center" style="height:180px;width:100%;white-space: normal;margin-right:auto;margin-left:auto;">
                <img style="max-height: 100px;margin-right:auto;margin-left: auto;" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMTkvMDkvMTkvMDkvNDAvMjAvNTYyZmJhMWEtY2E1Ny00YjMwLTk1MGUtODJkYWM2MTE3YTJjL011cnJQbGFzdGlrX0NhYmxlRW50cnlfY2FibGVxdWlja185MC0yNV9yb2hzLXVyLWNzYS11di5qcGciXSxbInAiLCJ0aHVtYiIsIjExMngxNDBcdTAwM2UiXV0?sha=4b6d411f362d1f07" class="img-fluid">
                <p style="margin-top:5px;margin-bottom:2px;font-size: .85em;font-weight:bold;">Cables preparation & maintenance</p>
            </a>
        </div>
    </div>
</div>